/**
 *
 * Author : Saeed Gholami (ostadsgo)
 * Github : @ostadsgo
 * 
 * Colors
 **/

* {
    background:     #000000FF;
    background-alt: #212121FF;
    foreground:     #ebebebFF;
    selected:       #89a479FF;
    active:         #575757FF;
    urgent:         #80874cFF;
}
