[Desktop Entry]
Name=randwall
GenericName=Set random wallpaper
TryExec=randwall
Exec=randwall %F
Type=Application
Keywords=script;
Icon=~/.local/share/icons/Nordzy-green/mimes/16/script.svg
Categories=Utility;
StartupNotify=false
